

@mdeia (max-width: 1200px) {

  .containerGallery {
    width: calc(100% - 40px);
    columns: 3;
  }
}

@mdeia (max-width: 768px) {

  .containerGallery {
    columns: 2;
  }
}

@mdeia (max-width: 480px) {

  .containerGallery {
    columns: 1;
  }
}