@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    40% 80% at 10% 80%,
    #def9fa 0.88%,
    #bef3f5 17.24%,
    #9dedf0 42.06%,
    #7de7eb 55.10%,
    #5ce1e6 71.53%,
    #14c3e2 99.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: radial-gradient(ellipse at top, #2c2c31, transparent), radial-gradient(ellipse at bottom, #1f1e3b, transparent);
}

.bg-nav-color {
  /* background: black; */
  background: radial-gradient(circle at bottom, #2c2c31, transparent);
}

.bg-nav-toogle-color {
  background: radial-gradient(circle at top, #2c2c31, #1f1e3b);
  height: calc(100% - 4rem);
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(600px);
    transform: translateY(600px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(600px);
    transform: translateY(600px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


.home_section_1_background {
  background-image: url('./assets/home_section_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

textarea {
   resize: none;
}

.abot_section_1 {
  background-image: url('./assets/about_section_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}

.about_section_1_content {
  transform: rotate(180deg);
}

.about_section_3 {
  background-image: url('./assets/about_section_3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.products_section_1 {
  background-image: url('./assets/products_section_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.containerGallery {
  columns: 4;
}

.navItems a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.navItems a:hover {
  color: white
}

.active > a {
  color: white;
}
.active > div {
  width: 100%;
  height: 1px;
  background-color: white;
}

.navItems a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.underLineNavActive {
  width: 100%;
  height: 1px;
  background-color: white;
  display: none;  
}

.navItems:hover div {
  width: 100%;
  height: 1px;
  background-color: white;
  display: block;
  transition: all 0.3s ease-in-out;
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: #ffae42;
}


.bg-indigo-600:hover {
  --tw-bg-opacity: 1;
  background-color: #ffcc00;
}

.customButton {
  width: 200px;
  height: 60px;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
  transform-origin: center center;
}

.customButton span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 60px;
  font-size: 1rem;
  background: rgba(255,255,255,.05);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  transition: 1s;
}

.customButton span.first {
    transform: rotateX(0deg) translateZ(20px);
}

.customButton:hover span.first {
  transform: rotateX(-180deg) translateZ(20px);
}

.customButton span.third {
  transform: rotateX(-180deg) translateZ(20px);
}

.customButton:hover span.third {
transform: rotateX(0deg) translateZ(20px);
}

.customButton span.second {
  background: linear-gradient(to left, #ffdd1f, #c31a5b);
}

.customButton span.second:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #ffdd1f, #c31a5b);
  border-radius: 30px;
  transform: translateZ(-1px);
}

.customButton:hover span.second {
  transform: rotateX(-180deg) translate(0px);
}

.rotateBackground {
  transform: rotate(180deg);
}
